.navbar {
    background-color: rgb(126, 78, 237);
}

.field {
    font-size: large;
}

.field-strong {
    font-size: x-large;
    font-weight: bold;
}

.unit {
    font-size: medium;
}

.card-title {
    font-size: small;
    font-weight: bold;
}

.card {
    max-width: 50;
    margin-top: 10px;
}

.wind-wheel {
    position: relative;
    top: 0;
    left: 0;
    height: 220px;
}

.wind-wheel img {
    position: absolute;
    top: 0;
    left: 0;
}

.wind-wheel div {
    position: absolute;
    top: 89px;
    left: 90px;
}

.wind-param {
    margin-bottom: 15px;
}

#video_loading {
    text-align: center;
}
